auto lo
iface lo inet loopback

iface lo inet6 loopback

auto {{cfg_proxmox_network_ipv4_public_interface}}
iface {{cfg_proxmox_network_ipv4_public_interface}} inet static
        address {{cfg_proxmox_network_ipv4_public_ip_address}}
        gateway {{cfg_proxmox_network_ipv4_public_ip_gateway}}
        up route add -net {{cfg_proxmox_network_ipv4_public_ip_route_address}} netmask {{cfg_proxmox_network_ipv4_public_ip_route_mask}} gw {{cfg_proxmox_network_ipv4_public_ip_route_gatway}} dev {{cfg_proxmox_network_ipv4_public_interface}}

#auto {{cfg_proxmox_network_ipv6_public_interface}}
#iface {{cfg_proxmox_network_ipv6_public_interface}} inet6 static
#        address {{cfg_proxmox_network_ipv6_public_ip_address}}
#        gateway {{cfg_proxmox_network_ipv6_public_ip_gateway}}

iface eth0 inet manual

auto {{cfg_proxmox_network_ipv4_lan_interface_name}}
iface {{cfg_proxmox_network_ipv4_lan_interface_name}} inet static
        address {{cfg_proxmox_network_ipv4_lan_ip_address}}
        bridge-ports none
        bridge-stp off
        bridge-fd 0